.recipe
	display block
	text-decoration none

	&__img
		display block
		width 100%
		height auto

		&-wrap
			clear both
			display block
			border-radius 3px
			overflow hidden
			+desktop()
				border-radius 5px

	&__text
		position relative
		display block
		width 100%
		padding-top 10px
		box-sizing border-box
		+desktop()
			padding-right 100px

		&-desc
			display block
			padding-top 2px
			font-family $trola
			fontSize(15, 20)
			color $black
			+desktop()
				padding-top: 0
				fontSize(20, 28)


		&-title
			display block
			font-family $mulMed
			fontSize(20, 24)
			color $blueDark
			^[0]:hover &
				color $red
			+desktop()
				padding 8px 0 8px
				fontSize(24, 29)

		&-time
			display flex
			align-items center
			padding 6px 0
			font-family $trola
			color $grey
			+desktop()
				position absolute
				z-index 1
				top 22px
				right 0

			&-icon
				display inline-block
				width 15px
				height 16px
				margin-right 5px
				fill #4e4f58

			&-text
				fontSize(14, 18)
				color $grey
				+desktop()
					fontSize(16, 21)
