include ../icon/icon

mixin select(data)

	- data = data || {}
	- data.id = data.id || Date.now()

	+b.select(
		class= data.icon ? "_icon" : ""
		class= data.color ? "_color-" + data.color : ""
	).js-select&attributes(attributes)
		if data.label
			+e.label.LABEL(
				for= data.id
			)= data.label

		+e.select(
			name= data.name
		).SELECT.js-select-native
			each val, i in data.options
				option(
					selected= i == 0 ? true : false
					value= val.value
				)= val.text

		+e.wrap.js-select-sub
			+e.text(
				class="js-select-text"
			)= data.options[0].text
			+e.icon
				+icon({icon: "arrow"})

		+e.option-wrap
			+e.option-block.js-select-list
				each val, id in data.options
					+e.option(
						class= id == 0 ? "_selected" : ""
						class= "js-select-option"
						data-value= val.value
						data-id= id
					)= val.text
