mixin popup(data)
    - doodInfo = data.code ? getData('goods')[data.code] : undefined

    if doodInfo
        +e.popup
            +e.IMG.popup-img(src= doodInfo.img.src)
            +e.popup-info
                +e.popup-name
                    = doodInfo.name
                +e.popup-price
                    = "Цена: " + doodInfo.price + " рублей"
                +e.popup-description
                    = "Описание товара: " + doodInfo.description
                +e.popup-close-button
                +button({
                    "text": "Быстрая покупка"
                })