.recipe-page__popup
    display none
    box-shadow 0 2px 2px 0 rgba(0,0,0,0.13)
    position absolute
    background-color white
    z-index 2
    padding 20px
    border-radius 4px
    bottom 100%

    &.-shown
        display flex

    &-info
        min-width 175px

    &-name
        font-weight bold
        font-size 22px
        margin-bottom 20px

    &-price, &-description
        margin-bottom 15px

    &-img
        display inline-block
        max-height 200px
        margin-right 30px
        border-radius 4px
        +w480()
        	display none

    &-close-button
        position absolute;
        top 15px;
        right 15px;
        height 15px
        width 15px
        padding 0
        border 0
        background transparent
        cursor pointer
        outline none
        
        &:before, &:after
            content ''
            position absolute
            top 50%
            left 0
            width 100%
            height 1px
            margin-top -1px
            background gray

        &:before
            transform rotate(-45deg)

        &:after
            transform rotate(45deg)

.recipe-page__info-content-item-wrapper
    position relative

.recipe-page__info-content-item-header.-underlined
    cursor pointer
    text-decoration underline
