include ../header/header
include ../menu/menu
include ../category/category
include ../button/button

mixin friend-page(data)
	- data = data || {}

	+b.friend-page().js-friend-page
		+e.wrap
			+e.header
				+header(data.header)
			+e.text= data.text
			+e.form(
				action= data.url
			).FORM
				+e.form-data
					+e.form-field
						+field(data.inviteField).js-friend-page-invite
					+e.form-btn
						+button(data.inviteButton).js-friend-page-invite-btn
				+e.form-info.js-friend-page-invite-info

			+e.sub-header
				+header(data.subheader)
			+e.form
				+e.form-data
					+e.form-field
						+field(data.linkField).js-friend-page-copy
					+e.form-btn
						+button(data.linkButton).js-friend-page-copy-btn
				+e.form-info= data.linkInfo
