include ../header/header
include ../field/field
include ../button/button
include ../product/product
include ../incut/incut
include ../menu/menu
include ../subscribe-overlay/subscribe-overlay

mixin catalog-page(data)

	- data = data || {}

	+b.catalog-page().js-catalog-page
		+e.loader.js-catalog-loader
		+e.wrap
			+subscribe-overlay()
			+e.menu
				+menu(data.menu)
			+e.main
				+e.header
					each el in data.header
						if(el.link)
							+e.header-el._link.A(href= el.link === true ? jv0 : el.link)
								+header({text: el.text}).header_link
						else
							+e.header-el
								+header({text: el.text})
				+e.seo.js-catalog-seo
					+e.seo-description
						|	Йогурт – нежное молочное лакомство с высокой пищевой ценностью. Он содержит белки, жиры, кальций, углеводы, витамины А, В, D и микроэлементы. Улучшает метаболизм, нормализует микрофлору, укрепляет суставы и костную ткань, омолаживает и повышает иммунитет.
					+e.seo-collapsible.BUTTON(type="button").
						Почему наш йогурт – лучший?
					+e.seo-details
						|	Йогурт от Сернурского сырзавода, расположенного в Республике Марий Эл, чистом регионе лесов и лугов, позволит вам открыть вкус натуральной цельномолочной продукции. Наш секрет в том, что мы:
						ul
							li Контролируем весь цикл производства – от сбора молока на собственных фермах до фасовки. Поэтому гарантируем безопасность продукта.
							li Используем экологически чистое коровье, овечье и козье молоко и закваску из молочнокислых стрептококков и болгарской молочнокислой палочки. Наша продукция без антибиотиков, ГМО, растительного жира, консервантов и крахмала. 
							li С особой точностью подходим к определению пропорций закваски и в процессе приготовления тщательно перемешиваем продукт. Именно поэтому наш йогурт такой нежной, воздушной текстуры.

						|	Для приготовления вторых блюд и в качестве элемента здорового питания мы предлагаем:

						|	Густой греческий йогурт – быстро усваиваемый, легкий и питательный кисломолочный продукт.
						|	Питьевой биойогурт: классический и обогащенный. Напиток с бифидобактериями помогает вырабатывать в организме витамины группы В и К, органические кислоты. А еще это молочная «находка» для людей, не переносящих лактозу. Йогурт с пребиотиками содержит полезные живые бактерии, которые уничтожают патогенные микроорганизмы кишечника и улучшают пищеварение. Биойогурт с хитозановым комплексом Doctor Neptuno является прекрасным сорбентом, помогает доставлять в кровоток витамины и микроэлементы, усиливает ранозаживляющие и бактериостатические свойства организма.
 
						|	Наш йогурт – это еще и легкие десерты, которыми можно перекусить во время диеты без вреда для организма и фигуры. Мы добавляем в них полезные наполнители: кусочки и сок ягод – черники, земляники, облепихи, шиповника.
 
						|	Купить йогурт в Москве или Санкт-Петербурге и областях от Сернурского сырзавода можно с доставкой на дом. Каждый заказ – это свежие продукты прямо с конвейера. Для получения консультации звоните 8 800 200-83-62 или пишите shop@lukoz.ru. 
				+e.subscribe-form-el
					+button({
						"text": "Подписаться",
						"invert": true
					}).catalog-page__subscribe-btn
				+e.grid.js-catolog-grid
					each el in data.prod
						+e.grid-el(
							class= el.promo ? "_promo" : ""
							class= el.type == "incut" ? "_incut" : ""
						)
							if el.type == "incut"
									+incut(el)
							else
									+product(el)
