.subscribe-overlay
    top 0
    left 0
    position fixed
    z-index 100
    background-color rgba($black, .6)
    height 100%
    width 100%
    justify-content center
    align-items center
    display none
    cursor pointer

    &_open
        display flex

    &__subscribe
        border-radius 60px
        background-color #ffc90b
        background linear-gradient(0, #ffc90b,  #ffeb78)
        padding 50px 50px
        position fixed
        z-index 101
        cursor default

        &-info
            min-width 200px

        &-title
            padding 0 4px
            color $blueDark
            text-align center
            font-family $mulMed
            fontSize(20, 29)
            ^[0]_small &
                fontSize(24, 28)
            +desktop()
                fontSize(24, 36)

        &-desc
            width 200px
            padding 10px 4px 15px
            color $black
            width auto
            font-family $mulReg
            text-align center
            fontSize(18, 20)
            ^[0]_small &
                padding-bottom 10px
                fontSize(20, 24)
                color $black + 70%
            +desktop()
                fontSize(20, 28)
                ^[0]_small &
                    padding-bottom 0

        &-form
            border-radius 6px
            display flex
            flex-direction row
            justify-content space-between
            margin-top 6px
            padding 10px
            background-color $violet
            flex-basis 100%
            background-color rgba($white, .25)

            &-el
                &:first-child
                    padding-right 10px