include ../icon/icon

mixin field(data)

	- data = data || {};
	- data.id = data.id || Math.floor(Date.now() + Math.random() * 100000)

	+b.field(
		data-validate= data.validate
		data-mask= data.mask
		name= data.name
		class= data.class
		class= data.icon ? "_icon" : ""
		class= data.type === "textarea" ? "_textarea" : ""
		class= data.type === "checkbox" ? "_checkbox" : ""
		class= data.clear ? "_clear" : ""
		class= data.color ? "_color-" + data.color : ""
		class= data.checkboxSmall ? "_checkbox-small" : ""
		class= data.labelLink ? "_label-link" : ""
		class= data.placeholderWhite ? "_paceholder-white" : ""

		data-clear-event= data.clearEvent ? data.clearEvent : false
	).js-field&attributes(attributes)

		if data.type == "checkbox"
			+e.native
				input(
					type="checkbox"
					id= data.id
					name= data.name
					value= data.value
					required= data.required
					disabled= data.disabled
				).js-field-input
			+e.wrap.js-field-wrap

		if data.label
			label.field__label.js-field-label(
				for= data.id
			)!= data.label

		if data.type != "checkbox"
			+e.wrap

				if data.icon
					+e.icon
						+icon({icon: data.icon})

				if data.type !== "textarea"
					+e.input.INPUT.js-field-input(
						type= data.type
						placeholder= data.placeholder
						id= data.id
						name= data.name
						value= data.value
						required= data.required
						disabled= data.disabled
					)
				else
					+e.input.TEXTAREA.js-field-input(
						type= data.type
						placeholder= data.placeholder
						id= data.id
						name= data.name
						required= data.required
						disabled= data.disabled
					)= data.value

		if data.clear
			+e.clear.js-field-clear
				+e.clear-icon
					+icon({icon: data.clear.icon})
				+e.clear-text= data.clear.text

		if data.extra
			+e.extra
				+e.extra-text.js-field-extra= data.extra

		if data.error
			+e.error
				+e.error-text.js-field-error= data.error
