.b404
	display flex
	flex-direction column
	align-items center
	justify-content center
	margin 0 auto
	padding 70px 20px
	+desktop()
		max-width 700px
		min-height calc(100vh - 289px)
		padding 0 20px 100px 20px
		
	&__img
		display block
		width 30vh
		height auto
		+desktop()
			margin-top 100px

	&__header
		padding 40px 0
		text-align center

	&__text
		font-family $mulReg
		fontSize(16, 20)
		text-align center

	&__link
		text-decoration none
		color $blueDark
		&:hover
			color $red
