include ../header/header

mixin b404(data)
	- data = data || {}

	+b.b404
		+e.img.IMG(src="img/404.png")
		+header({text: "Такой страницы нет"}).b404__header
		+e.text 
			| Посмотрите на наши 
			+e.link.A(href="/catalog/") продукты
			|  или 
			+e.link.A(href="/recipes/") рецепты
