.sidebar
	box-shadow 2px 2px 2px 0 #ebe8c8
	padding 10px 10px
	background #fffcda
	font-family $mulMed

	&__wrap
		position relative
		+desktop()
			position sticky
			top 100px
			width calc(100% - 25px)
			max-width 325px

	&__section
		transition background .1s ease-out
		border-radius 3px
		display block
		margin 10px 0
		padding 11px 10px 9px
		background rgba(0, 0, 0, 0.04)
		color $blueDark
		&_active
			box-shadow 0 2px 2px 0 rgba(0, 0, 0, 0.13)
			background $white !important
			color $black
		&:hover
			transition none
			background rgba(0, 0, 0, .027)
		&-title
			text-decoration none
			color inherit

	&__part
		transition background .1s ease-out
		border-radius 3px
		display block
		margin 10px 0
		padding 11px 10px 9px
		background rgba(0, 0, 0, 0.04)
		color $blueDark
		text-decoration none
		cursor pointer
		&:hover
			transition none
			background rgba(0, 0, 0, .027)
