include ../button/button
include ../header/header

mixin deal(data)
	- data = data || {}

	+b.deal.A(href= 'deal-page.html')
		+e.image.IMG(src= data.img)
		+e.text
			+header({'text': data.title, "level": 2})
			+button({'text': 'Перейти к покупкам'})

