include ../header/header
include ../field/field
include ../button/button

mixin change-pass(data)
	- data = data || {}

	+b.change-pass.js-change-pass
		+header({text: data.header}).change-pass__header
		+e.form.FORM(action="catalog.html").js-change-pass-form
			+field(data.pass1).change-pass__field.js-change-pass-field
			+field(data.pass2).change-pass__field.js-change-pass-field
			+button(data.btn).change-pass__btn.js-change-pass-btn
