include ../header/header
include ../field/field
include ../counter/counter
include ../recipe/recipe
include ../product/product
include ../popup/popup

mixin recipe-page(data)
    - data = data || {}

    +b.recipe-page().js-product-page
        +e.wrap
            //- +e.side
            +e.main
                +e.content
                    +e.general
                        +e.general-main
                            +e.img-wrap
                                +e.IMG.img(src= data.imgList.item1 id='item-1', class='active')
                                +e.IMG.img(src= data.imgList.item2 id='item-2')
                                +e.IMG.img(src= data.imgList.item3 id='item-3')
                                +e.img-list
                                    +e.img-item(class='active' data-item='item-1')
                                        +e.IMG(src= data.imgList.item1)
                                    +e.img-item(data-item='item-2')
                                        +e.IMG(src= data.imgList.item2)
                                    +e.img-item(data-item='item-3')
                                        +e.IMG(src= data.imgList.item3)

                            +e.property-list
                                +e.property
                                    +icon({icon: "recipe-time"}).recipe-page__property-icon-time
                                    span
                                        = data.property.time
                                +e.property
                                    +icon({icon: "recipe-portions"}).recipe-page__property-icon-portions
                                    span
                                        = data.property.portions
                                +e.property
                                    +icon({icon: "recipe-ingredients"}).recipe-page__property-icon-ingredients
                                    span
                                        = data.property.ingredients

                            each node in data.description
                                +e.paragraph
                                    = node
                            +e.info
                                +e.info-text
                                    +e.info-text-header
                                        = data.ingredients.header
                                +e.info-content
                                    each node in data.ingredients.content
                                        +e.info-content-item-wrapper
                                            +e.info-content-item
                                                +e.info-content-item-header(class= node.code && '-underlined')
                                                    = node.header
                                                +e.info-content-item-description
                                                    = node.description
                                            +popup({code: node.code})
                            +e.step-title
                                = data.recipeSteps.header
                            each node in data.recipeSteps.content
                                +e.paragraph
                                    = node


                        +e.general-card
                            +e.title
                                p
                                    =data.title.type
                                span
                                    =data.title.name
                            +e.card
                                +e.SPAN.card-head В основе рецепта
                                +e.card-product
                                    +product(data.product)
                                +e.card-more А также: 
                                    each el in data.more
                                        +e.card-more-link.A(href=jv0)= el




                    +e.divider
                        +e.divider-header
                            = data.firstDish.header
                    +e.recommended
                        each node in data.firstDish.products
                            +e.recommended-el
                                +recipe(node)
