extends core/layout

include ../blocks/head/head
include ../blocks/footer/footer
include ../blocks/change-pass/change-pass

block variable
	- bodyClass= 'page' 

block title
	title Страница сообщения

block body
	- data = getData('change-pass')
	- home = true

	+head(data.head)

	+change-pass(data.page)

	+footer(data.footer)
