extends core/layout

include ../blocks/head/head
include ../blocks/footer/footer
include ../blocks/cart-page/cart-page
include ../blocks/hero/hero
include ../blocks/deal/deal

block variable
	- bodyClass= 'page' 

block title
	title Акции – Сайт Сернурского сырзавода

block body
	- data = getData('deals')

	+head(data.head).page__head

	+hero(data.hero)

	+b.deals
		each deal in data.deals
			+deal(deal)

	+footer(data.footer).page__footer
