extends core/layout
block title
	title Сайт Сернурского сырзавода

block body
	+b.index
		+e.h.H1 Сайт Сернурского сырзавода
		+e.ul.UL
			+e.ul-li.LI
				a(href="./uikit.html") UI-KIT
			+e.ul-li.LI
				a(href="./blog.html") Блог
			+e.ul-li.LI
				a(href="./blog-post.html") Блог: пост
			+e.ul-li.LI
				a(href="./deals.html") Акции
			+e.ul-li.LI
				a(href="./deal-page.html") Отдельная акция
			+e.ul-li.LI
				a(href="./cart.html") Корзина
			+e.ul-li.LI
				a(href="./text.html") Текстовая страница
			+e.ul-li.LI
				a(href="./catalog.html") Каталог
			+e.ul-li.LI
				a(href="./private.html") Личный кабинет
			+e.ul-li.LI
				a(href="./product.html") Товар
			+e.ul-li.LI
				a(href="./index-page.html") Главная страница
			+e.ul-li.LI
				a(href="./recipes.html") Рецепты
			+e.ul-li.LI
				a(href="./recipe.html") Рецепт
			+e.ul-li.LI
				a(href="./category.html") Подборки
			+e.ul-li.LI
				a(href="./msg.html") Сообщение
			+e.ul-li.LI
				a(href="./change-pass.html") Изменение пароля
			+e.ul-li.LI
				a(href="./pass-changed.html") Пароль изменен
			+e.ul-li.LI
				a(href="./404.html") 404
			+e.ul-li.LI
				a(href="./friend.html") Приведи друга