extends core/layout

include ../blocks/head/head
include ../blocks/footer/footer
include ../blocks/private-page/private-page

block variable
	- bodyClass= 'page' 

block title
	title Личный кабинет – Сайт Сернурского сырзавода

block body
	- data = getData('private')

	+head(data.head).page__head

	+private-page(data.page)

	+footer(data.footer).page__footer
