extends core/layout

include ../blocks/field/field
include ../blocks/counter/counter
include ../blocks/select/select
include ../blocks/switch/switch
include ../blocks/button/button
include ../blocks/header/header
include ../blocks/head/head
include ../blocks/footer/footer
include ../blocks/cart-item/cart-item
include ../blocks/field-options/field-options
include ../blocks/promo/promo
include ../blocks/comment/comment
include ../blocks/bonuses/bonuses
include ../blocks/scale/scale
include ../blocks/order/order
include ../blocks/product/product
include ../blocks/incut/incut
include ../blocks/menu/menu
include ../blocks/category/category

block title
	title Ui Kit


block body
	- data = getData('uikit')
	+b.uikit
		+e.title Поля ввода
		+e.row._4
			+e.el
				+field(data.fields.text)
				+e.desc Default поле ввода, тип text
			+e.el
				+field(data.fields.email)
				+e.desc Поле ввода, тип email
			+e.el
				+field(data.fields.phone)
				+e.desc Поле ввода, тип phone
			+e.el
				+field(data.fields.checkbox)
				+e.desc Поле ввода, тип checkbox
			+e.el
				+field(data.fields.checkboxSmall)
				+e.desc Поле ввода, тип checkbox small
			+e.el
				+field(data.fields.icon)
				+e.desc Поле ввода с иконкой
			+e.el
				+field(data.fields.mask).some-in
				+e.desc Поле ввода с маской
		+e.row._3
			+e.el
				+field(data.fields.clear)
				+e.desc Поле ввода с очисткой
			+e.el
				+field(data.fields.error)(
					class="field_error"
				)
				+e.desc Поле ввода с ошибкой
			+e.el
				+field(data.fields.extra)(
					class="field_extra"
				)
				+e.desc Поле ввода с доп. текстом

		+e.title Счетчик
		+e.row._4
			+e.el
				+counter(data.counter.simple)
				+e.desc Счетчик
			+e.el
				+counter(data.counter.flex)
				+e.desc Счетчик резина
			+e.el
				+counter(data.counter.negative)
				+e.desc Счетчик резина, негатив
			+e.el
				+counter(data.counter.minMax)
				+e.desc Счетчик резина, негатив, min-max
			+e.el
				+counter(data.counter.ratio)
				+e.desc Счетчик резина, множитель
			+e.el
				+counter(data.counter.ratioPostfix)
				+e.desc Счетчик резина, множитель, постфикс

		+e.title Селект
		+e.row._4
			+e.el
				+select(data.select.simple)
				+e.desc Селект

		+e.title Переключатель
		+e.row._4
			+e.el
				+switch(data.switches.two)
				+e.desc Два элемента
			+e.el
				+switch(data.switches.three)
				+e.desc Три элемента

		+e.title Кнопки
		+e.row._4
			+e.el
				+button(data.buttons.simple)
				+e.desc Дефолтная кнопка
			+e.el
				+button(data.buttons.disabled)
				+e.desc Disabled кнопка
			+e.el
				+button(data.buttons.bigYellow)
				+e.desc Большая желтая кнопка
			+e.el
				+button(data.buttons.add)
				+e.desc Скругленная кнопка с иконкой
			+e.el
				+button(data.buttons.menu)
				+e.desc Кнопка с иконкой справа
			+e.el
				+button(data.buttons.full)
				+e.desc Кнопка на 100% ширины

		+e.title Шкала
		+e.row._2
			+e.el
				+scale(data.scale)

		+e.title Шкала без ползунка
		+e.row._2
			+e.el
				+scale(data.scaleNoSlider)

		+e.title Заголовки
		+e.row._4
			+e.el
				+header(data.headers.h1)
				+e.desc Заголовок первого уровня
			+e.el
				+header(data.headers.h2)
				+e.desc Заголовок второго уровня

		+e.title Шапка
		+e.row
			+e.el
				//- class= "_search"
				+head(data.head)(
					style= {position: "relative"}
				)

		+e.title Подвал
		+e.row
			+e.el
				+footer(data.footer)
		+e.title Товар в корзине
		+e.row._2
			each el in data.cartItem
				+e.el
					+cart-item(el)

		+e.title Поле с сохраненными вариантами
		+e.row._3
			+e.el
				+field-options(data.fieldOptions)
			+e.el
				+field-options(data.fieldOptionsError)

		+e.title Промокод
		+e.row._2
			+e.el
				+promo()

		+e.title Комментарий
		+e.row._2
			+e.el
				+comment()

		+e.title Товар
		+e.row._2
			+e.el
				+product(data.product.one)
			+e.el
				+product(data.product.two)
			+e.el
				+product(data.product.three)

		+e.title Промо товар
		+e.row
			- one = Object.assign({promo: "left"}, data.product.one)
			- two = Object.assign({promo: "right"}, data.product.two)
			- three = Object.assign({promo: "left"}, data.product.three)
			+e.el
				+product(one)
			+e.el
				+product(two)
			+e.el
				+product(three)

		+e.title Врезка
		+e.row._3
			+e.el
				+incut(data.incut)

		+e.title Бонусы
		+e.row._2
			+e.el
				+bonuses(data.bonuses)

		+e.title Подборки
		+e.row
			+e.el
				+category(data.category)
		+e.row
			+e.el
				+category(data.categoryRed)
		+e.row
			+e.el
				+category(data.categoryGreen)

		//- +e.title Меню
		//- +e.row._3
		//- 	+e.el
		//- 		+menu(data.menu)
		//- +e.title Меню мобильное сокращенное
		//- +e.row._3
		//- 	+e.el
		//- 		+menu(data.menuShort)

		//- +e.title Меню, активный пункт
		//- +e.row._3
		//- 	+e.el
		//- 		+menu(data.menuActive)

		+e.title Заказ
		+e.row
			+e.el
				+order(data.order)
