include ../header/header
include ../field/field
include ../counter/counter
include ../product/product
include ../bill/bill

mixin product-page(data)
	- data = data || {}

	+b.product-page().js-product-page
		+bill(data.bill)
		+e.wrap
			+e.main
				+e.content
					+e.general
						+e.general-main
							+e.img-wrap
								+product(data.product)
							+e.paragraph
								each node in data.description
									p= node
							+e.info
								+e.info-text
									+e.info-text-header
										= data.nutritionalValue.header
								+e.info-content
									each node in data.nutritionalValue.content
										+e.info-content-item
											+e.info-content-item-header
												= node.header
											+e.info-content-item-description
												= node.description
							+e.info
								+e.info-text
									+e.info-text-header
										= data.bestBy.header
								+e.info-content
									each node in data.bestBy.content
										+e.info-content-item
											+e.info-content-item-header
												= node.header
											+e.info-content-item-description
												= node.description
							+e.info
								+e.info-text
									+e.info-text-header
										= data.composition.header
								+e.info-content
									+e.info-content-text
										= data.composition.content

						+e.general-card.FORM(
							action= data.card.action
							data-json=1
						).js-product-page-form
							+e.card.js-product-sticky
								+e.card-desc
									= data.card.description
								+e.card-name
									= data.card.product
								+e.card-quantity
									+e.card-quantity-price
										+e.card-price
											+e.card-price-old= data.card.oldprice + " ₽"
											+e.card-price-cur.js-product-page-price(
												data-price= data.card.fullPrice
											)= data.card.price + " ₽"
												+e.card-price-weight= data.card.quantity
									+e.card-quantity-counter
										+counter(data.card.counter).js-product-page-quantity
								+e.card-button
									+button(data.card.button).js-product-page-btn
								+e.card-legal-bill
									+e.A.card-legal-bill-href(href= jv0).js-product-page-bill Счёт для юрлиц

					+e.divider
						+e.divider-header
							= data.delivery.header
					+e.delivery
						+e.delivery-col
							+e.delivery-header
								= data.delivery.toMoscow.header
							each node in data.delivery.toMoscow.description
								+e.delivery-description
									= node
						+e.delivery-col
							+e.delivery-header
								= data.delivery.byMKAD.header
							+e.delivery-ranges
								each node in data.delivery.byMKAD.ranges
									+e.delivery-ranges-item
										+e.delivery-ranges-item-header
											= node.header
										+e.delivery-ranges-item-description
											= node.description
							+e.delivery-description
								= data.delivery.byMKAD.description
						+e.delivery-col
							+e.delivery-header
								= data.delivery.pickup.header
							+e.delivery-description
								= data.delivery.pickup.description
							+e.A.delivery-link(href="#")
								= data.delivery.pickup.link

					+e.divider
						+e.divider-header
							= data.recommended.header
					+e.recommended
						each node in data.recommended.products
							+e.recommended-el
								+product(node)
