mixin scale(data)

	- data = data || {}
	- event = data.event
	- total = data.total || 0
	- value = data.value || 0
	- scalePos = data.invert ? total - value : value
	- perc = scalePos / total * 100

	+b.scale(
		data-event-change= event
		data-invert= data.invert ? "true" : "false"
		class= data.noSlider ? "_no-slider" : ""
		class= "_color-" + data.color
	).js-scale&attributes(attributes)
		+e.total
		+e.value(
			style= {width: perc + "%"}
		).js-scale-value
		+e.slider(
			style= {"margin-left": perc + "%"}
		).js-scale-slider
