include ../icon/icon
include ../field/field
include ../button/button

mixin footer(data)

	- data = data || {}
	//- - random = data.id || Date.now()

	+b.footer().js-footer&attributes(attributes)
		+e.subscribe
			+e.subscribe-info
				+e.subscribe-title Рассылка
				+e.subscribe-desc Новости магазина, акции, скидки и&nbsp;свежие заметки
			+e.subscribe-form.FORM
				+e.subscribe-form-el
					+field({
						"validate": "email",
						"placeholder": "Эл. почта",
						"type": "email",
						"color": "transparent"
					}).footer__subscribe-input
				+e.subscribe-form-el
					+button({
						"text": "Подписаться",
						"invert": true
					}).footer__subscribe-btn

		+e.name
			+e.name-title Интернет-магазин<br /> Сернурского сырзавода
			+e.name-icon
				+icon({
					"icon": "kozi"
				})
			+e.name-link kozi.ru

		+e.menu
			+e.menu-block
				each el in data.mainMenu
					+e.menu-el(
						href= el.link || jv0
					).A= el.title
			+e.menu-block
				each el in data.slaveMenu
					+e.menu-el(
						href= el.link || jv0
					).A= el.title

		+e.info
			+e.info-block
				+e.info-phone 8 800 200-83-62
				+e.info-email(
					href="mailto:shop@kozi.ru"
				).A shop@kozi.ru

			+e.info-soc
				- soc = [{"icon": "fb"}, {"icon": "vk"}, {"icon": "instagram"}]
				each el in soc
					+e.info-soc-el(
						href="el.link" || jv0
					).A
						+icon(el)

		+e.made
			+e.made-icon
				+icon({"icon": "codecode"})
			+e.made-title(
				href="https://codecode.ru/"
			).A Задизайнено в Кодельной
